*.suo
*.user
*.ReSharper
_ReSharper*
*.sln.DotSettings
*.dotCover
*.orig
*.cache
.vs/
.vscode/
.idea/
App_Data/
bin/
obj/
Debug/
Release/
ClientBin/
packages/
*.log
*ncrunch*
.DS_Store
enable-maintenance-mode